
<section data-region="thumbails">

	<div class="profile-thumb">
		<div class="img-wrap">
			<img class="border" src="img/harrison.jpeg">
		</div>

		<div class="profile-thmb-meta">
			<p class="font-small lead">Name Namersen</p>
			<div class="left-side">
				<i class="fa fa-map-marker"></i><small>Hong Kong, China</small>

				<div class="skills">
					<i class="fa fa-music"></i><i class="fa fa-bolt"></i>
				</div>

			</div>

			<div class="right-side">
				<div class="style-tags">
					<span class="font-xsmall">Rock</span>
					<span class="font-xsmall">Pop</span>
					<span class="font-xsmall">Metal</span>
					<span class="font-xsmall">...</span>
				</div>
			</div>
		</div>
	</div>

	<div class="profile-thumb">
		<div class="img-wrap">
			<img src="img/steve.jpeg" class="border">
		</div>

		<div class="profile-thmb-meta">
			<p class="font-small lead">Name Namersen</p>
			<div class="left-side">
				<i class="fa fa-map-marker"></i><small>Hong Kong, China</small>
			</div>

			<div class="skills">
				<i class="fa fa-music"></i><i class="fa fa-bolt"></i>
			</div>

			<div class="right-side">
				<div class="style-tags">
					<span class="font-xsmall">Rock</span>
					<span class="font-xsmall">Pop</span>
					<span class="font-xsmall">Metal</span>
					<span class="font-xsmall">...</span>
				</div>
			</div>
		</div>
	</div>

	<div class="profile-thumb">
		<div class="img-wrap">
			<img src="img/slash.jpeg" class="border">
		</div>

		<div class="profile-thmb-meta">
			<p class="font-small lead">Name Namersen</p>
			<div class="left-side">
				<i class="fa fa-map-marker"></i><small>Hong Kong, China</small>
			</div>

			<div class="skills">
					<i class="fa fa-music"></i><i class="fa fa-bolt"></i>
				</div>

			<div class="right-side">
				<div class="style-tags">
					<span class="font-xsmall">Rock</span>
					<span class="font-xsmall">Pop</span>
					<span class="font-xsmall">Metal</span>
					<span class="font-xsmall">...</span>
				</div>
			</div>
		</div>
	</div>

	<div class="profile-thumb">
		<div class="img-wrap">
			<img class="border" src="img/harrison.jpeg">
		</div>

		<div class="profile-thmb-meta">
			<p class="font-small lead">Name Namersen</p>
			<div class="left-side">
				<i class="fa fa-map-marker"></i><small>Hong Kong, China</small>

				<div class="skills">
					<i class="fa fa-music"></i><i class="fa fa-bolt"></i>
				</div>

			</div>

			<div class="right-side">
				<div class="style-tags">
					<span class="font-xsmall">Rock</span>
					<span class="font-xsmall">Pop</span>
					<span class="font-xsmall">Metal</span>
					<span class="font-xsmall">...</span>
				</div>
			</div>
		</div>
	</div>

	<div class="profile-thumb">
		<div class="img-wrap">
			<img src="img/steve.jpeg" class="border">
		</div>

		<div class="profile-thmb-meta">
			<p class="font-small lead">Name Namersen</p>
			<div class="left-side">
				<i class="fa fa-map-marker"></i><small>Hong Kong, China</small>
			</div>

			<div class="skills">
				<i class="fa fa-music"></i><i class="fa fa-bolt"></i>
			</div>

			<div class="right-side">
				<div class="style-tags">
					<span class="font-xsmall">Rock</span>
					<span class="font-xsmall">Pop</span>
					<span class="font-xsmall">Metal</span>
					<span class="font-xsmall">...</span>
				</div>
			</div>
		</div>
	</div>

	<div class="profile-thumb">
		<div class="img-wrap">
			<img src="img/slash.jpeg" class="border">
		</div>

		<div class="profile-thmb-meta">
			<p class="font-small lead">Name Namersen</p>
			<div class="left-side">
				<i class="fa fa-map-marker"></i><small>Hong Kong, China</small>
			</div>

			<div class="skills">
					<i class="fa fa-music"></i><i class="fa fa-bolt"></i>
				</div>

			<div class="right-side">
				<div class="style-tags">
					<span class="font-xsmall">Rock</span>
					<span class="font-xsmall">Pop</span>
					<span class="font-xsmall">Metal</span>
					<span class="font-xsmall">...</span>
				</div>
			</div>
		</div>
	</div>
	<div class="profile-thumb">
		<div class="img-wrap">
			<img class="border" src="img/harrison.jpeg">
		</div>

		<div class="profile-thmb-meta">
			<p class="font-small lead">Name Namersen</p>
			<div class="left-side">
				<i class="fa fa-map-marker"></i><small>Hong Kong, China</small>

				<div class="skills">
					<i class="fa fa-music"></i><i class="fa fa-bolt"></i>
				</div>

			</div>

			<div class="right-side">
				<div class="style-tags">
					<span class="font-xsmall">Rock</span>
					<span class="font-xsmall">Pop</span>
					<span class="font-xsmall">Metal</span>
					<span class="font-xsmall">...</span>
				</div>
			</div>
		</div>
	</div>

	<div class="profile-thumb">
		<div class="img-wrap">
			<img src="img/steve.jpeg" class="border">
		</div>

		<div class="profile-thmb-meta">
			<p class="font-small lead">Name Namersen</p>
			<div class="left-side">
				<i class="fa fa-map-marker"></i><small>Hong Kong, China</small>
			</div>

			<div class="skills">
				<i class="fa fa-music"></i><i class="fa fa-bolt"></i>
			</div>

			<div class="right-side">
				<div class="style-tags">
					<span class="font-xsmall">Rock</span>
					<span class="font-xsmall">Pop</span>
					<span class="font-xsmall">Metal</span>
					<span class="font-xsmall">...</span>
				</div>
			</div>
		</div>
	</div>

	<div class="profile-thumb">
		<div class="img-wrap">
			<img src="img/slash.jpeg" class="border">
		</div>

		<div class="profile-thmb-meta">
			<p class="font-small lead">Name Namersen</p>
			<div class="left-side">
				<i class="fa fa-map-marker"></i><small>Hong Kong, China</small>
			</div>

			<div class="skills">
					<i class="fa fa-music"></i><i class="fa fa-bolt"></i>
				</div>

			<div class="right-side">
				<div class="style-tags">
					<span class="font-xsmall">Rock</span>
					<span class="font-xsmall">Pop</span>
					<span class="font-xsmall">Metal</span>
					<span class="font-xsmall">...</span>
				</div>
			</div>
		</div>
	</div>
	<div class="profile-thumb">
		<div class="img-wrap">
			<img class="border" src="img/harrison.jpeg">
		</div>

		<div class="profile-thmb-meta">
			<p class="font-small lead">Name Namersen</p>
			<div class="left-side">
				<i class="fa fa-map-marker"></i><small>Hong Kong, China</small>

				<div class="skills">
					<i class="fa fa-music"></i><i class="fa fa-bolt"></i>
				</div>

			</div>

			<div class="right-side">
				<div class="style-tags">
					<span class="font-xsmall">Rock</span>
					<span class="font-xsmall">Pop</span>
					<span class="font-xsmall">Metal</span>
					<span class="font-xsmall">...</span>
				</div>
			</div>
		</div>
	</div>

	<div class="profile-thumb">
		<div class="img-wrap">
			<img src="img/steve.jpeg" class="border">
		</div>

		<div class="profile-thmb-meta">
			<p class="font-small lead">Name Namersen</p>
			<div class="left-side">
				<i class="fa fa-map-marker"></i><small>Hong Kong, China</small>
			</div>

			<div class="skills">
				<i class="fa fa-music"></i><i class="fa fa-bolt"></i>
			</div>

			<div class="right-side">
				<div class="style-tags">
					<span class="font-xsmall">Rock</span>
					<span class="font-xsmall">Pop</span>
					<span class="font-xsmall">Metal</span>
					<span class="font-xsmall">...</span>
				</div>
			</div>
		</div>
	</div>

	<div class="profile-thumb">
		<div class="img-wrap">
			<img src="img/slash.jpeg" class="border">
		</div>

		<div class="profile-thmb-meta">
			<p class="font-small lead">Name Namersen</p>
			<div class="left-side">
				<i class="fa fa-map-marker"></i><small>Hong Kong, China</small>
			</div>

			<div class="skills">
					<i class="fa fa-music"></i><i class="fa fa-bolt"></i>
				</div>

			<div class="right-side">
				<div class="style-tags">
					<span class="font-xsmall">Rock</span>
					<span class="font-xsmall">Pop</span>
					<span class="font-xsmall">Metal</span>
					<span class="font-xsmall">...</span>
				</div>
			</div>
		</div>
	</div>


</section>